<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
         http://www.springframework.org/schema/tx
         http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd"
        xmlns:tx="http://www.springframework.org/schema/tx">


    <bean id="dataSource"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName"
                  value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/czf?useSSL=false"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>com.models.Admin</value>
                <value>com.models.Catalog</value>
                <value>com.models.Department</value>
                <value>com.models.Orderitem</value>
                <value>com.models.Orders</value>
                <value>com.models.Product</value>
                <value>com.models.Users</value>
            </list>
        </property>

        <property name="mappingResources">
            <list>
                <value>com/models/Admin.hbm.xml</value>
                <value>com/models/Catalog.hbm.xml</value>
                <value>com/models/Department.hbm.xml</value>
                <value>com/models/Orderitem.hbm.xml</value>
                <value>com/models/Orders.hbm.xml</value>
                <value>com/models/Product.hbm.xml</value>
                <value>com/models/Users.hbm.xml</value>
                <value>com/models/Totalcatalog.hbm.xml</value>
            </list>
        </property>
    </bean>
    <bean id="baseDAO" class="com.dao.BaseDAO">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="serviceMethods" expression="execution(* com.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods"/>
    </aop:config>
    <!-- 类别-->
    <bean id="catalogDAO" class="com.dao.impl.CatalogDAO" parent="baseDAO"/>
    <bean id="catalogService" class="com.service.impl.CatalogService">
        <property name="catalogDAO" ref="catalogDAO"/>
    </bean>
    <!--总类别-->
    <bean id="totalCatalogDAO" class="com.dao.impl.TotalCatalogDAO" parent="baseDAO"/>
    <bean id="totalCatalogService" class="com.service.impl.TotalCatalogService">
        <property name="totalCatalogDAO" ref="totalCatalogDAO"/>
    </bean>
    <!-- 产品 -->
    <bean id="productService" class="com.service.impl.ProductService">
        <property name="productDAO" ref="productDAO"/>
    </bean>

    <bean id="productAction" class="com.action.ProductAction">
        <property name="productService" ref="productService"/>
        <property name="catalogService" ref="catalogService"/>
        <property name="totalCatalogService" ref="totalCatalogService"/>
        <property name="orderService" ref="orderService"/>
        <property name="orderitemService" ref="orderitemService"/>
    </bean>
    <bean id="productDAO" class="com.dao.impl.ProductDAO" parent="baseDAO"/>

    <!--登录-->
    <bean id="userDAO" class="com.dao.impl.UserDAO" parent="baseDAO"/>
    <bean id="userService" class="com.service.impl.UserService">
        <property name="userDAO" ref="userDAO"/>
    </bean>
    <bean id="userAction" class="com.action.UserAction">
        <property name="userService" ref="userService"/>
        <property name="orderService" ref="orderService"/>
        <property name="orderitemService" ref="orderitemService"/>
        <property name="productService" ref="productService"/>
    </bean>
    <!--#########购物车##########-->
    <bean id="orderDAO" class="com.dao.impl.OrderDAO" parent="baseDAO"/>
    <bean id="orderService" class="com.service.impl.OrderService">
        <property name="orderDAO" ref="orderDAO"/>
    </bean>
    <bean id="shopAction" class="com.action.ShopAction">
        <property name="productService" ref="productService"/>
        <property name="orderService" ref="orderService"/>
    </bean>
    <!-- orderitem-->
    <bean id="orderitemDAO" class="com.dao.impl.OrderitemDAO" parent="baseDAO"/>
    <bean id="orderitemService" class="com.service.impl.OrderitemService">
        <property name="orderitemDAO" ref="orderitemDAO"/>
    </bean>
    <!--Admin-->
    <bean id="adminDAO" class="com.dao.impl.AdminDAO" parent="baseDAO"/>
    <bean id="adminService" class="com.service.impl.AdminService">
        <property name="adminDAO" ref="adminDAO"/>
    </bean>
    <bean id="adminAction" class="com.action.AdminAction">
        <property name="adminService" ref="adminService"/>
    </bean>
    <!--department-->
    <bean id="departmentDAO" class="com.dao.impl.DepartmentDAO" parent="baseDAO"/>
    <bean id="departmentService" class="com.service.impl.DepartmentService">
        <property name="departmentDAO" ref="departmentDAO"/>
    </bean>
    <bean id="departmentAction" class="com.action.DepartmentAction">
        <property name="departmentService" ref="departmentService"/>
    </bean>
</beans>
